@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

html, body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    // margin: 0.5rem;
    // padding: 0.5rem;

}

h1 {
    font-family: 'Dela Gothic One', cursive;
    font-size: 6rem;
    border: red 1px solid;
    margin: 0px;
}


.header {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    justify-content: flex-start;
    border: red 1px solid;
    height: 80vh;
    width: 100%;



    .name {
        // display: absolute;

        
    }

    .divider {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        width: 60%;
        height: 50px;
        font-size: 20px;

    }

}

.grain-bg {
    margin: 0px;
    padding: 0px;
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -2;
    border: 4px cyan solid;
}

  
  .grain-bg:after {
    animation: grain 8s steps(10) infinite;
    background-image: url('../grain.png');
    content: "";
    height: 250%;
    left: -50%;
    opacity: 0.15;
    position: fixed;
    top: -100%;
    width: 250%;
    z-index: -2;
  }
  
  @keyframes grain {
    0%, 100% { transform:translate(0, 0) }
    10% { transform:translate(-5%, -1%) }
    20% { transform:translate(-15%, 5%) }
    30% { transform:translate(7%, -0%) }
    40% { transform:translate(-5%, 25%) }
    50% { transform:translate(-15%, 10%) }
    60% { transform:translate(15%, 0%) }
    70% { transform:translate(0%, 15%) }
    80% { transform:translate(3%, 35%) }
    90% { transform:translate(-10%, 10%) }
  }