* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    transition: background 0.5s ease, color 0.15s ease;
}

// FONTS AND TEXT STYLES
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@mixin outline {
    font-family: Akzidensk, Arial, Helvetica, sans-serif;
    color: var(--color-background);
    text-shadow:
     -2px -2px 0 var(--color-primary),  
      2px -2px 0 var(--color-primary),
      -2px 2px 0 var(--color-primary),
       2px 2px 0 var(--color-primary);
}

.outline {
    @include outline;
}

@font-face {
    font-family: Akzidensk;
    src: url(./fonts/AkzidenzGrotesk-Regular.otf) format("");
}

@font-face {
    font-family: Akzidensk Light;
    src: url(./fonts/AkzidenzGrotesk-Light.otf) format("");
}

@font-face {
    font-family: Akzidensk Bold;
    src: url(./fonts/AkzidenzGrotesk-Bold.otf) format("");
}

@font-face {
    font-family: Akzidensk Extra Bold;
    src: url(./fonts/AkzidenzGrotesk-ExtraBold.otf) format("");
}

//Region [Blue]
/*! locomotive-scroll v4.1.1 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
    overflow: hidden; }
  
  html.has-scroll-dragging {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  
  .has-scroll-smooth body {
    overflow: hidden; }
  
  .has-scroll-smooth [data-scroll-container] {
    min-height: 100vh; }
  
  [data-scroll-direction="horizontal"] [data-scroll-container] {
    height: 100vh;
    display: inline-block;
    white-space: nowrap; }
  
  [data-scroll-direction="horizontal"] [data-scroll-section] {
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    height: 100%; }
  
  .c-scrollbar {
    position: absolute;
    right: 0;
    top: 0;
    /* width: 11px; */
    width: 15px;
    height: 100%;
    transform-origin: center right;
    transition: transform 0.3s, opacity 0.3s;
    opacity: var--(scrollbar-opacity); }
  
//   .c-scrollbar:hover {
//     transform: scaleX(1.45); }
  
  .c-scrollbar:hover, .has-scroll-scrolling .c-scrollbar, .has-scroll-dragging .c-scrollbar {
    opacity: var(--scrollbar-opacity); }
  
  [data-scroll-direction="horizontal"] .c-scrollbar {
    width: 100%;
    height: 10px;
    top: auto;
    bottom: 0;
    transform: scaleY(1); }
    [data-scroll-direction="horizontal"] .c-scrollbar:hover {
      transform: scaleY(1.3); }
  
  .c-scrollbar_thumb {
    position: absolute;
    top: 0;
    right: 0;
    // background-color: black;
    background-color: var(--color-primary);
    opacity: var(--scrollbar-opacity);
    /* width: 7px; */
    width: 11px;
    max-width: 0.8vw;
    /* border-radius: 10px; */
    margin: 2px;
    cursor: -webkit-grab;
    cursor: grab; }
    .has-scroll-dragging .c-scrollbar_thumb {
      cursor: -webkit-grabbing;
      cursor: grabbing; }
    [data-scroll-direction="horizontal"] .c-scrollbar_thumb {
      right: auto;
      bottom: 0; }
//endregion

// VARIABLES ----
// Fonts
$font-primary:'Akzidensk', sans-serif;
$font-h1: 'Akzidensk Bold', sans-serif;
$font-h3: 'Akzidensk', sans-serif;
$font-h4: 'Akzidensk Light', sans-serif;
$font-p: 'Akzidensk Light', sans-serif;
$font-link: 'Akzidensk Bold', sans-serif;

// Colors
$link-dark: cyan;
$link-light: rgb(0, 38, 255);

$bg-dark: rgb(57, 60, 87);
$bg-light: rgb(211, 211, 231);

$primary-dark: rgb(240, 240, 240);
$primary-light: rgb(57, 60, 87);

$secondary-dark: rgb(216, 42, 109);
$secondary-light: rgb(62, 62, 62);

$color-divider: rgb(147, 156, 175);

$bg-contact-light: rgb(131, 131, 131);
$bg-contact-dark: rgb(9, 10, 41);

$color-contact-light: rgb(211, 211, 231);
$color-contact-dark: rgb(66, 75, 157);


// Light Theme
:root {
    --scrollbar-opacity: 0.5;
    --color-background: #{$bg-dark};
    --color-primary: #{$primary-dark};
    --color-secondary: #{$secondary-dark};
    --color-link: #{$link-dark};
    --color-bg-contact: #{$bg-contact-dark};
    --color-contact-color: #{$color-contact-dark};

}

// Dark Theme
.dark {


    --scrollbar-opacity: 0.5;
    --color-background: #{$bg-light};
    --color-primary: #{$primary-light};
    --color-secondary: #{$secondary-light};
    --color-link: #{$link-light};
    --color-bg-contact: #{$bg-contact-light};
    --color-contact-color: #{$color-contact-light};

}

// GENERAL
html {
    height: 100vh;
    overflow: hidden
}

body {
    width: 100vw;
    min-height: 100vh;
    font-size: 16px;
    font-family: $font-primary;
    line-height: 1;
    background: var(--color-background);
    color: var(--color-primary);
    margin: 0px;
    opacity: 1;
    // transition: 0.5s opacity, background 0.5s ease;
    transition: background 1s cubic-bezier(.215,.61,.355,1),
        color 1s cubic-bezier(.215,.61,.355,1), 
        opacity 4s cubic-bezier(.215,.61,.355,1);

    p {
        font-family: $font-p;
        font-size: 1.25rem;
        line-height: 1.25;
        font-weight: lighter;
    }
    
    h1 {
        font-family: $font-h1;
        font-size: 8.5rem;
    }
    
    h2 {
        color: var(--color-secondary);
        font-size: 3rem;
    }
    
    h3 {
        font-family: $font-h3;
        font-weight: 100;
        font-size: 1.75rem;
    }

    h4 {
        font-family: $font-h4;
        font-weight: 100;
        font-size: 1.25rem;
    }

    p, h1, h2, h3, h4, h5, h6 {
        padding: 0px;
        margin: 0px;
        pointer-events: none;
        color: var(--color-primary);
    }

    header, footer {
        padding: 0px;
        margin: 0px;
    }
    
    img {
        -webkit-user-drag: none;
    }

    a {
        text-decoration: none;
        margin: 0px;
        padding: 0px 1rem;
        font-size: 1.25rem;
    }

}

body.fade-out {
    opacity: 0;
    transition: none;
}

.scroll-container {
    margin: 0px;
    padding: 0px 0px 0px 0px;
}


// LINES AND DIVIDERS
.vertical-line-30 {
    display: block;
    position: fixed;
    height:100vh;
    left: 30vw;
    width: 1px;
    background: $color-divider;
}

.pipe {
    font-weight: bold;
    color: var(--color-primary);
}


// NAVIGATION, LINKS, AND UI
//Region [Black]
.external-link {
    font-weight: bold;
    font-family: $font-link;
    color: var(--color-link);
    transition: all .15s;

    &:hover {
        cursor: pointer;
        opacity: 0.6;
    }
}

@mixin nav-link {
    color: var(--color-primary);
    text-decoration: none;
    padding: 1rem;
    transition: 0.15s all;
    background: transparent;
    border: none;
    font-size: 1rem;
    z-index: 20;
    
    &:hover {
        opacity: 0.5;
        cursor: pointer;
    }

    .selected {
        background: gray;
    }
}


@mixin nav {
    transform: rotate(-90deg);
    position: fixed;
    z-index: 1;
    padding: 0rem;
    margin: 0px;
    user-select: none;
}

.nav {
    @include nav;
    position: fixed;
    width: 100vh;
    right: -430px;
    top: 47vh;
    text-align: center;

    button {
        @include nav-link;
        padding: 0rem;
    }

    .link {
        @include nav-link;
        padding: 0rem 0.5rem;
    }

    .project-link {
        @include nav-link;
        padding: 0rem 0.5rem;
        transform: rotate(90deg);
    }
    
}

.logo {
    @include nav;
    @include nav-link;
    right: -87px;
    top: 150px;
    font-size: 1.5rem;
    padding: 0rem;
}



.theme-switch {
    position: fixed;
    left: 2rem;
    top: 2rem;
    height: 3rem;
    width: 3rem;
    background: transparent;
    border: 1px solid  var(--color-primary);
    color: var(--color-primary);
    border-radius: 50%;
    cursor: pointer;
    z-index: 2;
    // transition: all 0.2s;

    &:hover {
        border: 2px solid  var(--color-primary);
        font-weight: bold;
    }
}


//endregion


// LAYOUT AND POSITIONING
//region [Violet]
@mixin fullscreen {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
}

@mixin section {
    display: flex;
    flex-wrap: nowrap;
    align-items: center; 
    height: 100vh;
    min-height: 100vh;
    border-bottom: 1px solid rgb(147, 156, 175);
    width: 100%;
    padding: 0rem 0rem 0rem 0rem;
    transition: background 3s;

}
.section {
    @include section; 
}

.section.is-inview {
    // background: magenta;
}

.section-half {
    @include section; 
    height: 50vh;
    min-height: 50vh;
    // border-bottom: 4px solid yellow;
}

.section-half.is-inview {
    // background: chartreuse;
}

.section-double {
    @include section; 
    min-height: 200vh;
}

.desktop-only {
    display: block!important
}

.mobile-only {
    display: none!important
}
//endregion


// SITE SECTIONS -------------

// HEADER
//Region [Blue]
.header {
    @include fullscreen;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
 
    .headline {
        @include outline;
        text-align: left;
        font-size: 9rem;
        margin: 0px 0px 100px 30px;
        padding: 0rem;
        width: 100%;
        white-space: nowrap;
    }
    
    .subline-1 {
        color: var(--color-secondary);
        font-size: 1.5rem;
        text-align: left;
        margin: 0px 0px 0px 400px;
        padding: 0rem;
        width: 100%;

    }

    .subline-2 {
        color: var(--color-secondary);
        font-size: 1.25rem;
        text-align: left;
        margin: 0px 0px 150px 600px;
        padding: 0rem;
        line-height: 2.25;
        width: 100%;
    }

}
//endregion

// INTRO
//Region [Midnight]
.intro {

    .name {
        color: var(--color-secondary);
        text-align: right;
        margin: 0vh 100px 0rem 0vmax;
        padding: 0rem;
        width: 90vw;
    }

    .body {
        text-align: right;
        margin: 5vh 0px 0rem 0vw;
        width: 80vw;


        .line {
            text-align: right;
            padding: 1rem 0rem;
            width: 100%;
        }

        .one {
            margin-left: 7vw;
        }

        .two {
            margin-left: 11vw;
        }

        .three {
            margin-left: 14vw;
        }

        .four {
            margin-left: 17vw;
        }
    }
}
//endregion



// PROJECT
//Region [Purple]
.project {
    @include fullscreen;

    .header {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        padding: 0 75px 0 0;
        width: 100vw;
        height: 100vh;

        .text {
            font-size: 9rem;
            color: var(--color-secondary);
        }

    }


    .description-container {
        @include fullscreen;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .description {
            font-style: italic;
            width: 100vw;
            justify-content: center;
            text-align: center;
            padding: 0px 0px;
            margin: 0px;
            width: 100vw;

        }

    }

    .tech-container {
        @include fullscreen;
        display: flex;
        flex-direction: column;

        .tech {
            align-self: flex-end;
            color: var(--color-secondary);
            text-align: center;
            padding: 0 0px;
            white-space: nowrap;
            background: yellow;
            width: 100vw;
        }

    }

    .title-container {
        @include fullscreen;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        .title {
            position: absolute;
            @include outline;
            margin: 0px 0px 30px 30px;
            font-size: 11rem;
            white-space: nowrap;
    
            &:hover {
                color: var(--color-primary);
                opacity: 1;
                text-shadow: 8px 8px rgba(0,0,0, 0.2);
            }
        }
    }

    .link-container {
        @include fullscreen;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        z-index: -10;

        .link {
            margin: 0px 0px 250px 80px;
            font-size: 1.25rem;
            width: 100%;
            text-align: left;
        }
    }

    .image {
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0vh;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: -100;
        opacity: 1;
        transition: all 0.25s;

        img {
            height: 100vh;
            min-width: 100vw;
            object-fit: cover;
            margin: 0px 0vw;
            opacity: 0.40;
        }
    }
}
//endregion


// CONTACT
//Region [Lime]
.contact {
    @include fullscreen;
    background: var(--color-bg-contact);
    color: var(--color-contact-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .container {
        display: flex;
        height: 100vh;
        width: 700px;
        margin: 0px 0px 0 0;
        justify-content: space-around;
        padding-top: 100px;
    }

    @mixin card {
        height:70vh;
        max-height: 800px;
        width:10vw;
        max-width: 100px;
        border: 1px solid gray;
        background: rgba(0,0,0, 0.2);
        opacity: 0.7;
        transition: all 0.25s;

        &:hover {
            cursor: pointer;
            background: rgba(0,0,0, 0.5);
            border: 1px solid white;
            opacity: 1;
        }
    }

    .card {
        @include card;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 4rem 0rem;

        .text {
            transform: rotate(-90deg);
            color: var(--color-secondary);
            font-size: 5rem;
        }
    }

    .footer-container {
        position: absolute;
        bottom: 1.5rem;
        width: 100vw;

        .footer {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            color: var(--color-secondary);
            padding: 0rem 2rem;

            .copyright {
                color: var(--color-secondary);
            }
        }

    }
}

//endregion




// MEDIA QUERIES
//Region [Magenta]
// Vertical monitor
@media screen and (max-width: 1081px) and (min-height: 1081px) {

    .section {
        // background: purple;
    }

    .nav {
        right: -1180px;
        top: 50vh;
        text-align: center;
    }

    .header {
        .headline {
            font-size: 7.5rem;
            margin: 0px 0px 275px 50px;
        }
        
        .subline-1 {
            font-size: 1.5rem;
            margin: 0px 0px 0px 1100px;
        }
    
        .subline-2 {
            margin: 0px 0px 450px 1550px;
            line-height: 2.25;
        }
    }

    .intro {
        .name {
            margin: 0vh 100px 0rem 0vmax;
            width: 90vw;
        }
    
        .body {
            text-align: right;
            margin: 5vh 0px 0rem 0vw;
            width: 80vw;
        }
    }

    .project {
        .title-container {
            .title {
                padding: 0vh 0vw 30px 30px;
                font-size: 11rem;
            }
        }
    }

    .contact {
        .container {
            height: 100vh;
            width: 70vw;
            margin: 0px 15vw;
            padding-top: 1000px;
        }
    }
}

// Macbook
@media screen and (max-height: 780px)  {
    .nav {
        top: 60vh;
        right: -340px;
    }

    .contact {
        .container {
            height: 100vh;
            width: 70vw;
            margin: 0px 15vw;
            padding-top: 250px;
        }
    }


}


@media screen and (max-width: 1024px) and (orientation:portrait) {

}

@media screen and (min-width: 851px) and (max-width:1024px) {

}

 
// Mobile
@media screen and (max-width: 767px) {

    .section {
        background: black;
    }

    .nav {
        right: 300px;
        top: 50vh;
        text-align: center;
    }

    .logo {
        right: 175px;
        top: 110px;
        font-size: 1.25rem;
        padding: 0rem;
        width: 100%;
        border: 1px solid red;
    }

    .desktop-only {
        display: none !important;
    }

    .mobile-only {
        display: block !important;

        .mobile-message {
            margin: 30vh 15vw;
            width: 70vw;
            text-align: center;
        }
    }

}
//endregion