* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    transition: background 0.5s ease, color 0.15s ease;
}

// FONTS AND TEXT STYLES
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@mixin outline {
    font-family: Akzidensk, Arial, Helvetica, sans-serif;
    color: var(--color-background);
    text-shadow:
     -2px -2px 0 var(--color-primary),  
      2px -2px 0 var(--color-primary),
      -2px 2px 0 var(--color-primary),
       2px 2px 0 var(--color-primary);
}

.outline {
    @include outline;
}

@font-face {
    font-family: Akzidensk;
    src: url(./fonts/AkzidenzGrotesk-Regular.otf) format("");
}

@font-face {
    font-family: Akzidensk Light;
    src: url(./fonts/AkzidenzGrotesk-Light.otf) format("");
}

@font-face {
    font-family: Akzidensk Bold;
    src: url(./fonts/AkzidenzGrotesk-Bold.otf) format("");
}

@font-face {
    font-family: Akzidensk Extra Bold;
    src: url(./fonts/AkzidenzGrotesk-ExtraBold.otf) format("");
}

//Region [Blue]
/*! locomotive-scroll v4.1.1 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
    overflow: hidden; }
  
  html.has-scroll-dragging {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  
  .has-scroll-smooth body {
    overflow: hidden; }
  
  .has-scroll-smooth [data-scroll-container] {
    min-height: 100vh; }
  
  [data-scroll-direction="horizontal"] [data-scroll-container] {
    height: 100vh;
    display: inline-block;
    white-space: nowrap; }
  
  [data-scroll-direction="horizontal"] [data-scroll-section] {
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    height: 100%; }
  
  .c-scrollbar {
    position: absolute;
    right: 0;
    top: 0;
    /* width: 11px; */
    width: 15px;
    height: 100%;
    transform-origin: center right;
    transition: transform 0.3s, opacity 0.3s;
    opacity: var--(scrollbar-opacity); }
  
//   .c-scrollbar:hover {
//     transform: scaleX(1.45); }
  
  .c-scrollbar:hover, .has-scroll-scrolling .c-scrollbar, .has-scroll-dragging .c-scrollbar {
    opacity: var(--scrollbar-opacity); }
  
  [data-scroll-direction="horizontal"] .c-scrollbar {
    width: 100%;
    height: 10px;
    top: auto;
    bottom: 0;
    transform: scaleY(1); }
    [data-scroll-direction="horizontal"] .c-scrollbar:hover {
      transform: scaleY(1.3); }
  
  .c-scrollbar_thumb {
    position: absolute;
    top: 0;
    right: 0;
    // background-color: black;
    background-color: var(--color-primary);
    opacity: var(--scrollbar-opacity);
    /* width: 7px; */
    width: 11px;
    max-width: 0.8vw;
    /* border-radius: 10px; */
    margin: 2px;
    cursor: -webkit-grab;
    cursor: grab; }
    .has-scroll-dragging .c-scrollbar_thumb {
      cursor: -webkit-grabbing;
      cursor: grabbing; }
    [data-scroll-direction="horizontal"] .c-scrollbar_thumb {
      right: auto;
      bottom: 0; }
//endregion

// VARIABLES ----
// Fonts
$font-primary:'Akzidensk', sans-serif;
$font-h1: 'Akzidensk Bold', sans-serif;
$font-h3: 'Akzidensk', sans-serif;
$font-h4: 'Akzidensk Light', sans-serif;
$font-p: 'Akzidensk Light', sans-serif;

// Colors
$link-dark: cyan;
$link-light: rgb(0, 0, 255);

$bg-dark: rgb(57, 60, 87);
$bg-light: rgb(255, 255, 255);

$primary-dark: rgb(255, 255, 255);
$primary-light: rgb(0, 0, 0);

$secondary-dark: rgb(216, 42, 109);
$secondary-light: rgb(62, 62, 62);

$color-divider: rgb(147, 156, 175);

// Theme Set 1
// $bg-dark: rgba(0, 0, 50, 1);
// $bg-light: rgb(216, 192, 192);

// $primary-dark: rgb(255, 245, 170);
// $primary-light: rgb(0, 0, 0);

// $secondary-dark: rgb(241, 170, 255);
// $secondary-light: rgb(0, 12, 138);


// Light Theme
:root {
    --scrollbar-opacity: 0.5;
    --color-background: #{$bg-light};
    --color-primary: #{$primary-light};
    --color-secondary: #{$secondary-light};
    --color-link: #{$link-light};

}

// Dark Theme
.dark {
    --scrollbar-opacity: 0.5;
    --color-background: #{$bg-dark};
    --color-primary: #{$primary-dark};
    --color-secondary: #{$secondary-dark};
    --color-link: #{$link-dark};

}

// GENERAL
html {
    height: 100vh;
    overflow: hidden
}

body {
    width: 100vw;
    min-height: 100vh;
    font-size: 16px;
    font-family: $font-primary;
    line-height: 1;
    background: var(--color-background);
    color: var(--color-primary);
    margin: 0px;
    padding: 0px 15px 0px 0px;
    opacity: 1;
    // transition: 0.5s opacity, background 0.5s ease;
    transition: background 1s cubic-bezier(.215,.61,.355,1),
        color 1s cubic-bezier(.215,.61,.355,1), 
        opacity 2s cubic-bezier(.215,.61,.355,1);

    p {
        font-family: $font-p;
        font-size: 1.5rem;
        line-height: 1.25;
        font-weight: lighter;
    }
    
    h1 {
        // @include outline;
        font-family: $font-h1;
        font-size: 8.5rem;
    }
    
    h2 {
        color: var(--color-secondary);
        font-size: 3rem;
    }
    
    h3 {
        font-family: $font-h3;
        font-weight: 100;
        font-size: 1.75rem;
    }

    h4 {
        font-family: $font-h4;
        font-weight: 100;
        font-size: 1.25rem;
    }

    p, h1, h2, h3, h4, h5, h6 {
        padding: 0px;
        margin: 0px;
        pointer-events: none;
        color: var(--color-primary);
    }
    
    img {
        -webkit-user-drag: none;
    }
}

body.fade-out {
    opacity: 0;
    transition: none;
}

.scroll-container {
    margin: 0px;
    padding: 0px;
}


// LINES AND DIVIDERS
.vertical-line-30 {
    display: block;
    position: fixed;
    height:100vh;
    left: 30vw;
    width: 1px;
    background: $color-divider;
}

.pipe {
    font-weight: bold;
    color: var(--color-primary);
}


// NAVIGATION, LINKS, AND UI
//Region [Black]
@mixin link {
    color: var(--color-primary);
    text-decoration: none;
    padding: 1rem;
    transition: 0.15s all;
    background: transparent;
    border: none;
    font-size: 1rem;
    
    &:hover {
        opacity: 0.5;
        cursor: pointer;
    }

    .selected {
        background: gray;
    }
}


@mixin nav {
    transform: rotate(-90deg);
    display: absolute;
    position: fixed;
    z-index: 1;
    padding: 0rem;
    margin: 0px;
    user-select: none;
}

.nav {
    @include nav;
    right: -85px;
    top: 475px;

    button {
        @include link;
        padding: 0rem;
    }

    .link {
        @include link;
        padding: 0rem 0.5rem;
    }

    .project-link {
        @include link;
        padding: 0rem 0.5rem;
        transform: rotate(90deg);
    }
    
}

.logo {
    @include nav;
    @include link;
    right: -87px;
    top: 150px;
    font-size: 1.5rem;
    padding: 0rem;
}


.theme-switch {
    position: fixed;
    left: 2rem;
    top: 2rem;
    height: 3rem;
    width: 3rem;
    background: transparent;
    border: 1px solid  var(--color-primary);
    color: var(--color-primary);
    border-radius: 50%;
    cursor: pointer;
    z-index: 2;
}

a {
    @include link;
    font-weight: bold;
    color: var(--color-link);
}


//endregion


// LAYOUT AND POSITIONING
//region [Violet]
@mixin section {
    display: flex;
    flex-wrap: nowrap;
    align-items: center; 
    min-height: 100vh;
    width: 100%;
    // border-bottom: 1px solid gray;
}
.section {
    @include section; 
    min-height: 100vh;
}

.section-half {
    @include section; 
    height: 50vh;
    min-height: 50vh;
}

.section-double {
    @include section; 
    min-height: 200vh;
}

.split-section {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100vh;
    border: 1px solid yellow;
}
//endregion


// SITE SECTIONS -------------

// HEADER
//Region [Blue]
.header {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100vh;
    
    .headline {
        @include outline;
        text-align: left;
        font-size: 10vw;
        margin: 45vh 0rem 0rem 5vmin;
        padding: 0rem;
        width: 100%;
        white-space: nowrap;
    }
    
    .subline-1 {
        color: var(--color-secondary);
        font-size: 2vw;
        text-align: left;
        margin: 6vmin 4rem 0rem 20vmax;
        padding: 0rem;

    }

    .subline-2 {
        color: var(--color-secondary);
        font-size: 1.5vw;
        text-align: left;
        margin: 0vmin 4rem 0rem 30vmax;
        padding: 0rem;
        line-height: 2.25;
    }

}
//endregion

// INTRO
//Region [Midnight]
.intro {

    .name {
        color: var(--color-secondary);
        text-align: right;
        margin: 40vh 0vw 0rem 0vmax;
        padding: 0rem;
        width: 90vw;
    }

    .body {
        text-align: right;
        margin: 5vh 20rem 0rem 0vw;
        padding: 0rem;
        width: 87vw;

        .line {
            text-align: right;
            padding: 1rem 0rem;
            width: 100%;
        }

        .one {
            margin-left: 9vw;
        }

        .two {
            margin-left: 13vw;
        }

        .three {
            margin-left: 16vw;
            border-bottom: 2px solid var(--color-primary);
            padding-bottom: 0px;
        }

        .four {
            margin-left: 18vw;
        }
    }
}
//endregion


// PROJECT
//Region [Purple]
.project {
    margin: 57vh 0vw 10vh 10vw; 
    // border: 4px solid blue;
    width: 38rem;
    height: 25vh;

    .header {
        // @include outline;
        display: block;
        position: absolute;
        top: 825px;
        right: 100px;
        width: 8rem;
        height: 8rem;
        font-size: 8rem;
    }

    .details {
        display: flex;
        justify-content: space-between;
        // text-align: center;
        margin: -30px 0vw 0rem -25px;
        width: 90%;
        // width: 650px;
        // border: 1px red solid;

        .description {
            align-self: flex-end;
            // color: var(--color-secondary);
            // font-size: 1.5rem;
            font-style: italic;
            width: 40%;
            justify-content: center;
            text-align: left;
            padding: 0px 0px;
        }
        
        .tech {
            align-self: flex-end;
            color: var(--color-secondary);
            // font-size: 1.5rem;
            // max-width: 50%;
            text-align: right;
            padding: 0 0px;
            white-space: nowrap;
        }
    }

    .title {
        @include outline;
        display: block;
        position: absolute;
        bottom: -215px;
        left: -250px;
        font-size: 11rem;
        white-space: nowrap;

        &:hover {
            color: var(--color-primary);
            opacity: 1;
            text-shadow: 8px 8px rgba(0,0,0, 0.2);
        }
    }
    
    .link {
        font-size: 1.25rem;
        margin: 205px 0rem 0rem -170px;
        width: 50%;
    }

    .image {
        position: absolute;
        top: 5vh;
        right: 15vw;
        z-index: -1;
        opacity: 1;
        transition: all 0.25s;

        img {
            width: 70vw;
            opacity: 0.85;
        }
    }
}
//endregion


// CONTACT
//Region [Lime]
.contact {
    height: 100vh;
    width: 100vw;
    background: #373737;


    .container {
        display: flex;
        height: 100vh;
        width: 70vw;
        margin: 12vh 15vw;
        justify-content: space-evenly;
    }
    

    @mixin card {
        height:70vh;
        max-height: 800px;
        width:10vw;
        max-width: 200px;
        border: 1px solid gray;
        background: rgba(0,0,0, 0.2);
        opacity: 1;
        

        &:hover {
            cursor: pointer;
            border: 1px solid white;
        }
    }

    .card {
        @include card;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        .text {
            transform: rotate(-90deg);
            color: white;
            font-size: 7vw;
        }
    }

    .footer-container {
        position: absolute;
        bottom: 0px;
        width: 100vw;

        .footer {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            color: white;
            padding: 2rem;
        }

    }


    





}

//endregion




// MEDIA QUERIES
//Region [Red]
@media screen and (max-width: 1024px) and (orientation:portrait) {




}




@media screen and (min-width: 851px) and (max-width:1024px) {





}



@media screen and (max-width: 767px) {





}
//endregion